:root {
    --mainFont:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --secondaryFont:'Courier New', Courier, monospace;
    --primary: blue;
    --primaryText: white;
    --secondary: lightgrey;
    --secondaryText:black;
    --headerHeight: 100px;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    text-align: center;
    color:var(--primaryText);
    background-color:var(--primary);
    height:var(--headerHeight);
}
header h1 {
    font-weight: bold;
    font-size:300%;
    line-height:var(--headerHeight);
}

header img {
    display:block;
    position:absolute;
    right:15px;
    top:15px;
}
header img:hover {
    cursor:pointer;
}

main {
    display:flex;
}
.left-section {
    width:25%;
    margin:15px;
    font-size:150%;
    color:var(--primary);
}
.right-section {
    margin:15px;
    width:75%;
}

#search-form>*, .left-section>*:not(form) {
    width:100%;
    font-size:150%;
    margin:10px 0;
}

#current-area {
    border:5px solid black;
    border-radius:20px;
}
#current-area h2 {
    margin:5px;
    font-size:250%;
}
#current-area p {
    font-family:var(--secondaryFont);
    margin:20px;
    font-size:150%;
}

#forecast-area {
    display:flex;
    justify-content:space-around;
}

.forecast-card {
    width:15%;
}

button {
    background-color:var(--primary);
    color:var(--primaryText);
}
button.secondary {
    background-color:var(--secondary);
    color:var(--secondaryText);
}

.hover:hover {
    filter:brightness(130%);
}

.displayed-menu {
    position:absolute;
    width:200px;
    height:100px;
    right:15px;
    top:100px;
    z-index:50;
    color:var(--secondaryText);
    background-color:var(--secondary);
    border:5px solid var(--secondaryText);
    border-radius:20px;
    text-align:left;
}
.displayed-menu>* {
    display:block;
    margin:5px;
}
.hidden-menu {
    display:none;
}